h3 {
    font-size: clamp(1.5rem, 1.8vw, 1.8rem);
}

li {
    font-size: clamp(1rem, 1.5vw, 1.8rem);
}

.question {
    background-color: var(--background-color-solid);
    border-radius: 25px;
}

.question-title {
    font-weight: 500;
}