.page-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
}

.page-title {
    margin-top: 10vh;
}
.contact-title {
    margin-top: 2vh;
}

.contact-prefix {
    background-color: #2b2b2bcd;
    text-align: center;
    padding: 0 0 3vh 0;
}

.contact {
    background-color: #2b2b2bcd;
    height: 20vh;
    width: 20vw;
    border-radius: 5%;
    margin: 0 2vh 5vh 2vh;
    padding: 5vw;

    display: flex;
    flex-direction: column;
    gap: 2vh;

    text-align: center;
}

.googlemapslocation {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1500px) {
    .page-container {
        display: flex;
        flex-direction: column;
    }

    .contact {
        height: 30vh;
        width: 80vw;
    }

    .find {
        margin-top: 5vh;
    }
}
