.page-title {
    margin-bottom: 12vh;
}

.questions-container {
    margin-top: 7vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5vh;
}

.question-title {
    margin: 1vh 0px 1vh 0px ;
}

.question {
    margin: 0px 7vw 0px 7vw;
    padding: 1vh 5vw 1vh 5vw;

    width: 80%;
}

/* ---- JAVASCRIPT ---- */

.hide-text {
    max-height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.show-text {
    max-height: 100vh;
    opacity: 100%;
    transition: max-height 1s ease, opacity 1s ease;
}
